@charset "UTF-8";

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-ExtraBold.woff") format("woff"), url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-ExtraLight.woff") format("woff"), url("../fonts/Manrope-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Light.woff") format("woff"), url("../fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-SemiBold.woff") format("woff"), url("../fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Обнуление*/

* {
  font-family: "Manrope";
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
}

.table {
  width: 100%;
  min-width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #c0c0c0;
}

.table .table-head {
  border-bottom: 1px solid #c0c0c0;
  padding: 5px 5px 10px 5px;
}

.table .table-head p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.table .table-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.table .table-content p {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0 0 5px;
  width: 100%;
}

.table .table-content p b {
  font-weight: bold;
}

.table .table-content .row-1 {
  border-bottom: 1px solid #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.table .table-content .row-1 .col-1,
.table .table-content .row-1 .col-2,
.table .table-content .row-1 .col-3,
.table .table-content .row-1 .col-4 {
  width: 25%;
}

.table .table-content .row-1 .col-1 {
  border-right: 1px solid #c0c0c0;
}

.table .table-content .row-1 .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table .table-content .row-1 .col-2 .period {
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
}

.table .table-content .row-1 .col-2 .values {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table .table-content .row-1 .col-2 .values .val-1,
.table .table-content .row-1 .col-2 .values .val-2,
.table .table-content .row-1 .col-2 .values .val-3 {
  width: 33%;
}

.table .table-content .row-1 .col-2 .values .val-2 {
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}

.table .table-content .row-1 .col-3 {
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
}

.table .table-content .row-2 {
  border-bottom: 1px solid #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.table .table-content .row-2 .col-1,
.table .table-content .row-2 .col-2,
.table .table-content .row-2 .col-3,
.table .table-content .row-2 .col-4 {
  width: 25%;
}

.table .table-content .row-2 .col-1 {
  border-right: 1px solid #c0c0c0;
}

.table .table-content .row-2 .col-2 .values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.table .table-content .row-2 .col-2 .values .val-1,
.table .table-content .row-2 .col-2 .values .val-2,
.table .table-content .row-2 .col-2 .values .val-3 {
  width: 33%;
}

.table .table-content .row-2 .col-2 .values .val-2 {
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
}

.table .table-content .row-2 .col-3 {
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
}

.table .table-content .row-3 {
  border-bottom: 1px solid #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.table .table-content .row-3 .col-1,
.table .table-content .row-3 .col-2,
.table .table-content .row-3 .col-3 {
  width: 25%;
}

.table .table-content .row-3 .col-1 {
  border-right: 1px solid #c0c0c0;
}

.table .table-content .row-3 .col-2 .values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.table .table-content .row-3 .col-2 .values .val-1 {
  width: 33%;
}

.table .table-content .row-3 .col-2 .values .val-2 {
  width: 66%;
  border-left: 1px solid #c0c0c0;
}

.table .table-content .row-4 {
  border-bottom: 1px solid #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.table .table-content .row-4 .col-1,
.table .table-content .row-4 .col-2,
.table .table-content .row-4 .col-3,
.table .table-content .row-4 .col-4 {
  width: 25%;
}

.table .table-content .row-4 .col-1 {
  border-right: 1px solid #c0c0c0;
}

.table .table-content .row-4 .col-2 .values {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table .table-content .row-4 .col-2 .values .val-1,
.table .table-content .row-4 .col-2 .values .val-2,
.table .table-content .row-4 .col-2 .values .val-3 {
  width: 33%;
}

.table .table-content .row-4 .col-2 .values .val-2 {
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
}

.table .table-content .row-4 .col-3 {
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
}

.table .table-content .row-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.table .table-content .row-5 .col-1,
.table .table-content .row-5 .col-2,
.table .table-content .row-5 .col-3,
.table .table-content .row-5 .col-4 {
  width: 25%;
}

.table .table-content .row-5 .col-3 {
  border-right: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
}